{% extends 'addr/base.html' %}


{% block content %}
{% if user.is_authenticated or con.secret_addr %}
<div class="addr">
    {% if con.published_date %}
        <div class="date">
            {{ con.published_date }}
        </div>
    {% else %}
        <a class="btn btn-default" href="{% url 'addr:con_publish' pk=con.pk %}">Publish</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'addr:con_edit' pk=con.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'addr:con_remove' pk=con.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" href="{% url 'addr:con_secret_addr' pk=con.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a>
    {% endif %}
    <div class="addr">
        <h1>{{ con.name }}</h1>
    </div>
    <div class="detail">
        <p>연락처 : {{ con.num }}</p>
        {% if con.num2 %}
            <p>연락처2 : {{ con.num2 }}</p>
        {% endif %}
        {% if con.email %}
            <p>이메일 : {{ con.email }}</p>
        {% endif %}
        <p>작성자 : {{ con.writer }}</p>
    </div>
        <a href="{% url 'addr:con_memo_new' pk=con.pk %}"><span class="glyphicon glyphicon-plus-sign"></span></a>
    {% for memo in  contact.memos.all %}
        <div class="memo">
            <div class="date">{{ memo.author }}</div>
            <strong> -" {{ memo.text|linebreaks }} " </strong>
        </div>
        {% endfor %}
</div>
{% else %}
    <h3>You cannot access this page without a Login.</h3>
{% endif %}
{% endblock %}